
scapy
netifaces
pyfiglet
requests
ipaddress
requests
rich
psutil
blessed
python-nmap




# FOR LINUX ONLY 

# sudo setcap cap_net_raw,cap_net_admin=eip /usr/bin/python3.
# sudo setcap cap_net_raw,cap_net_admin,cap_net_bind_service,cap_dac_override+eip /usr/bin/nmap
# echo "alias evileye='sudo /home/sko/Documents/programs/evileye/venv/bin/python /home/sko/Documents/programs/evileye/evileye.py'" >> ~/.bashrc
# source ~/.bashrc
# ufw logging on 
# ufw logging medium

    #ARCH
    # yay -S rsyslog

# EXECUTION
# evileye
